@import url(fonts.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    background: none;
    font-family: C7;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    padding: 20px 0;
    gap: 24px;
    color: white;
    font-family: C4;
}

.header-nav {
    background: #000;
    padding: 29px 0;
    overflow: hidden;
}

.header-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-list {
    display: flex;
    gap: 30px;
}

.logo {
    color: white;
    font-size: 18px;
}

.header-nav-list a {
    font-size: 14px;
    color: white;
    font-family: M4;
    transition: .3s;
    position: relative;
    padding: 42px 0 5px 0;
}

.header-nav-list a:hover {
    color: #ED8E00;
}

.header-nav-list a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ed8e00;
    position: absolute;
    bottom: -3px;
    transition: .3s;
}

.header-nav-list a:hover::after {
    width: 100%;
}

.burger {
    font-size: 40px;
    color: white;
    display: none;
}

.header-content {
    background: url(../img/headerBg.jpg), #070F19BF;
    background-blend-mode: darken;
    background-position: center;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    color: white;
}

.header-content h1 {
    font-size: 64px;
    font-family: M7;
}

.header-content p {
    font-family: M4;
    line-height: 150%;
    max-width: 570px;
    color: #C8C8C8;
    margin: 30px 0 50px;
    text-align: justify;
}

.header-content-links {
    display: flex;
    gap: 30px;
}

.btn {
    padding: 17px 47px;
    color: white;
    background: #040D1F;
    border-radius: 4px;
    transition: .3s;
    font-size: 14px;
}

.btn:hover {
    background: #F18128;
    color: #000;
    transform: scale(1.1);
}

body {
    background: #040D1F;
}

.main-title {
    color: #F18128;
    border-bottom: 2px solid #F18128;
    padding-bottom: 10px;
    margin: 60px 0 54px;
    width: max-content;
}

.films-content-card {
    background: url(../img/f1.jpg), linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.80) 100%);
    background-blend-mode: soft-light;
    width: 255px;
    height: 367px;
    background-size: cover;
    border-radius: 6px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 54px;
}

.films-content-card span {
    padding: 7px 27px;
    border-radius: 9px;
    border: 1px solid #FFF;
    background: rgba(7, 15, 25, 0.20);
    font-size: 14px;
    font-family: M4;
    line-height: 71.429%;
    margin: 12px 0 30px;
}

.films-content-card h3 {
    font-family: M4;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 12px;
}

.films-content-card p {
    font-family: R4;
    font-size: 14px;
    line-height: 150%;
    padding: 0 15px;
}

.films-content {
    display: flex;
    gap: 30px;
    margin-bottom: 77px;
    flex-wrap: wrap;
    justify-content: center;
}

.films-content-card:nth-of-type(2) {
    background: url(../img/f2.png), linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.80) 100%);
    background-blend-mode: soft-light;
    background-size: cover;
}

.films-content-card:nth-of-type(3) {
    background: url(../img/f3.png), linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.80) 100%);
    background-blend-mode: soft-light;
    background-size: cover;
}

.films-content-card:nth-of-type(4) {
    background: url(../img/f4.png), linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.80) 100%);
    background-blend-mode: soft-light;
    background-size: cover;
}

.trailer {
    height: 500px;
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0.00) 100.72%);
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
video{
    position: absolute;
    height: 135.5%;
    right: 0;
    top: -85px;
    z-index: -1;
}
.trailer p {
    margin: 51px 0 52px;
    max-width: 558px;
    text-align: justify;
    font-family: R4;
    font-size: 18px;
    line-height: 150%;
}

.coll-content-card{
    background: url(../img/c1.png), linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    background-size: cover;
    background-blend-mode: darken;
    width: 350px;
    height: 193px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 6px;
    color: white;
    font-size: 20px;
    position: relative;
    overflow: hidden;
}
.line{
    position: absolute;
    transition: .7s;
}
.line:first-child{
    left: 7px;
    animation: slide 2s infinite;
    
}
.line:last-child{
    right: 7px;
    animation: slide2 2s infinite;
}

.coll-content-card img{
    transition: .7s;
}
.coll-content-card:hover img{
    transform: scale(1.4) rotateX(180deg);
}
@keyframes slide{
    0% {
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}
@keyframes slide2{
    0% {
        transform: translateY(5px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(5px);
    }
}
.coll-content{
    display: flex;
    gap: 30px;
    margin-bottom: 63px;
    flex-wrap: wrap;
    justify-content: center;
}
.coll-content-card:nth-child(2){
    background: url(../img/c2.jpg), linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    background-size: cover;
}
.coll-content-card:nth-child(3){
    background: url(../img/c3.jpg), linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    background-size: cover;
    background-blend-mode: saturation;
}
.series-poster{
    background: url(../img/poster.jpg), linear-gradient(96deg, rgba(35, 35, 35, 0.80) 10.86%, rgba(11, 11, 11, 0.60) 110.86%);
    background-blend-mode: darken;
    padding: 100px 15px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 28.5px;
    color: white;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 30px;
    background-position: top center;
}
.series-poster h3{
    font-size: 40px;
}
.series-poster p{
    font-family: C4;
    line-height: 150%;
}
.series-coll-card{
    background: url(../img/s1.jpg), linear-gradient(96deg, rgba(35, 35, 35, 0.80) 10.86%, rgba(11, 11, 11, 0.60) 110.86%);
    background-blend-mode: darken;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    font-size: 24px;
    border-radius: 6px;
}
.series-coll{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 190px;
    gap: 30px;
    margin-bottom: 63px;
}
.series-coll-card:first-child{
    grid-column: 2 span;
    grid-row: 2 span;
}
.series-coll-card:nth-child(2){
    background: url(../img/s2.jpg), linear-gradient(96deg, rgba(35, 35, 35, 0.80) 10.86%, rgba(11, 11, 11, 0.60) 110.86%);
    background-size: cover;
    background-position: center;
}
.series-coll-card:nth-child(3){
    background: url(../img/s3.jpg), linear-gradient(96deg, rgba(35, 35, 35, 0.80) 10.86%, rgba(11, 11, 11, 0.60) 110.86%);
    background-size: cover;
    background-position: center;
}
.series-coll-card:nth-child(4){
    background: url(../img/s4.jpg), linear-gradient(96deg, rgba(35, 35, 35, 0.80) 10.86%, rgba(11, 11, 11, 0.60) 110.86%);
    background-size: cover;
    background-position: center;
}
.series-coll-card:nth-child(5){
    background: url(../img/s5.png), linear-gradient(96deg, rgba(35, 35, 35, 0.80) 10.86%, rgba(11, 11, 11, 0.60) 110.86%);
    background-size: cover;
    background-position: center;
}
.footer{
    padding: 24px 0;
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
}
.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    color: white;
}
.market{
    display: flex;
    gap: 50px;
}